[submodule "fw/external/Unity"]
	path = fw/sources/external/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "fw/sources/external/ChibiOS"]
	path = fw/sources/external/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
[submodule "fw/sources/external/uGFX"]
	path = fw/sources/external/uGFX
	url = https://git.ugfx.io/uGFX/uGFX.git
[submodule "fw/sources/external/Unity"]
	path = fw/sources/external/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "fw/sources/external/ChibiOS-Contrib"]
	path = fw/sources/external/ChibiOS-Contrib
	url = https://github.com/ChibiOS/ChibiOS-Contrib.git
